################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SortedlistHW/.vs/SortedlistHW/v16
/SortedlistHW/SortedlistHW/bin/Debug
/SortedlistHW/SortedlistHW/obj/Debug
